@import "mixin";
@import "variables";
@media all and (min-width: 1200px) {
  header {
    .user {
      .user-info-title, .user-info-id {
        @include user-text;
        span {
          font-weight: 900;
        }
      }
      .user-ico {
        width: 35px;
        height: 35px;
        border-radius: 50%;
      }
    }
  }
  article {
    flex-direction: column;
    .search-section {
      .search-group {
        flex-basis: 79%;
      }
    }
    .car-list {
      .cars-headers-desktop {
        display: flex;
        flex-basis: 90%;
        max-width: 1076px;
        margin: 0 auto;
        justify-content: space-around;
        padding: 11px;
        p {
          @include table-headers;
          color: $main-font-color;
          text-align: center;
          flex-basis: 10%;
        }
        .num {
          flex-basis: 5%;
        }
      }
      .car-item {
        position: relative;
        flex-basis: 100%;
        max-width: 1076px;
        align-content: center;
        padding: 11px;
        margin: 5px auto;
        .contact {
          position: absolute;
          top: 0;
          right: -10%;
          height: 100%;
          display: none;

          .letter, .pencil {
            height: 100%;
            width: 45px;
            background-color: $bg-color-wht;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            margin-left: 11px;
            &:hover {
              background-color: $active-color;
            }
          }

        }
        &:hover {
          background-color: $active-color;
          transition: 0.5s all;
          .contact {
            display: flex;
          }
          .car-info {
            p {
              color: $main-font-color;
            }
          }
        }
        .car-navigation {
          display: none;
        }
        .car-info {
          position: relative;
          height: 100%;
          .custom-checkbox {
            pointer-events: auto;
            position: relative;
            align-items: center;
            .checkbox::before {
              content: '';
              display: inline-block;
              width: 20px;
              height: 20px;
              background-repeat: no-repeat;
              background-position: center center;
              background-size: 100%;
            }
            input:checked+.checkbox::before {
              background-color: transparent;
              background-image: url("../img/chekbox.png");
            }
          }
          .mobile-cart-header{
            display: none;
          }
          .space {
            display: none;
          }
          p, .checkbox {
            border-right: 1px solid #5e5e5e;
            @include table-headers;
            color: $sub-font-color;
            padding: 2px 0;
            margin-top: 0;
            text-align: center;
            flex-grow: 1;
            flex-basis: 10%;
            br {
              display: none;
            }
            &:last-child {
              border: none;
            }
          }
          .code {
            order: 2;
          }
          .year2 {
            order: 3;
          }
          .year1 {
            order: 4;
          }
          .car-code {
            order: 5;
          }
          .car-num {
            order: 6;
          }
          .brand {
            order: 7;
          }
          .name {
            order: 8;
          }
          .num {
            order: 9;
            flex-basis: 5%;
            display: block;
          }
        }
      }
    }
  }



}